.summaryText {
  color: black;
}

.cubeFilter {
  filter: grayscale(80%);
  max-width: 100%;
  position: absolute;
  /* background-color: rgba(0, 0, 0, .8); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  /* width: 100%;
  height: 100%;*/
  padding: 20px; 
}

.summaryText {
  /*background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(101, 98, 136, 0.4); 
  color: #ffffffb5;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  padding: 20px; 
  text-align: center;
  border-radius: 25px;
}

.summaryText2 {
  /*background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(27 27 31 / 40%); 
  color: #ffffffb5;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  padding: 20px; 
  text-align: center;
  border-radius: 25px;
}

.filter {
  /* filter: blur(4px);
   */
  /* backdrop-filter: blur(400px);
  -webkit-backdrop-filter: blur(400px); */
  position: absolute;
  /* background-color: rgba(0, 0, 0, .8); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 2; */
  width: 100%;
  height: 100%;
  padding: 20px;
}


/* body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
} */


.controller {
  /* position: absolute; */
  /* width: 24px;
  height: 12px; */
  /* z-index: 100; */
  /* bottom: 20px;
  left: 50%; */
  /* margin-left: -12px; */
  /* margin-top: 1.5rem; */
  -webkit-animation: bounce-down 1.6s linear infinite;
  animation: bounce-down 1.6s linear infinite;

}

/* @-webkit-keyframes bounce-down {
 25% {
      -webkit-transform: translateY(-4px);
 }
 50%, 100% {
      -webkit-transform: translateY(0);
 }
 75% {
      -webkit-transform: translateY(4px);
 }
}

@keyframes bounce-down {
  25% {
       transform: translateY(-4px);
  }
  50%, 100% {
       transform: translateY(0);
  }
  75% {
       transform: translateY(4px);
  }
} */
