
@font-face {
  font-family: "Monster Bites";
  src: local("Monster Bites"),
    url("./assets/fonts/Monster Bites.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Water Galon";
  src: local("Water Galon"),
    url("./assets/fonts/Water Galon.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "MorningBreeze";
  src: local("MorningBreeze"),
    url("./assets/fonts/MorningBreeze.otf") format("truetype");
  font-weight: normal;
}

