#downloadButton {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
  background-color: #336975;
}

#downloadButton:hover {
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30px;
  background-color: #3395ac;
}

.formFields {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #212529;
  border-bottom: 8px solid #336975;
  outline: none;
  background-color: #212529;
}

.formFields:hover {
  background-color: #363c42;
}

input,
textarea {
  color: white;
}

.scrollControl {
  overflow: auto;
}

#imageContact {
  max-width: 30%;
}
